:host {
  display: block;

  .button {
    border: 0;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .circle {
    border-radius: 50%;
    border: 1px solid var(--text);
    width: 26px;
    height: 26px;
    position: relative;
    margin-right: 7px;
  }

  .line {
    width: 14px;
    border: 1px solid var(--text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &.line--vertical {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}
