<div class="table-cell">
  <div class="number-wrapper">
    <input
      class="number"
      type="number"
      [formControl]="formControl"
      [min]="minValue"
      (blur)="onTouched()"
    />
    <div class="number-buttons">
      <button type="button" class="number-button number-button--top" (click)="addValue()">
        <div class="triangle triangle--top"></div>
      </button>
      <button
        type="button"
        class="number-button number-button--bottom"
        [disabled]="formControl.value <= minValue"
        (click)="subtractValue()"
      >
        <div class="triangle triangle--bottom"></div>
      </button>
    </div>
  </div>
</div>
