:host {
  display: block;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 5px 0 #d7d7d7, 5px 5px 0 #d7d7d7;
  border-radius: 3px;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0;
  }

  li {
    display: block;
    cursor: pointer;
    line-height: 26px;

    &:hover {
      background-color: var(--yellow-hover);
    }
    &.active {
      background-color: var(--yellow-active);
    }
  }
}
