:host {
  display: block;

  .input {
    margin-right: 15px;
  }

  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}
