/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'PT sans';
  src: url('./assets/fonts/PTSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PT sans';
  src: url('./assets/fonts/PTSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'PT sans', sans-serif;
}
